{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>2Do-список </h1>
            <p>Жизнь - это здорово, но человек всегда занят, правда? Вы можете делать миллион различных вещей, но важно то, <u>что</u> вы делаете. Я создал <b><i>Todo Woo</i></b> чтобы помочь вам осознать все свои возможности и жить той жизнью, которая для вас прекрасна.Вас ждёт новая организованная и упорядоченная жизнь.</p><br>
            <p>Удачи!</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Начать</a>
        </div>
    </div>

{% endblock %}
